extends layout

block content 

  #container
    each personaje in personajes
      .card(style='width: 13rem')
        img.card-img-top(src=personaje.image alt='...')
        .card-body
          p
            strong Name:
            = personaje.name
          p
            strong Id:
            = personaje.gender
          a(href='') Generar un JSON 
          a(href='/') Lista de personajes 